.btn-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  
    justify-content:center;
 
  
}
.payment-btn {
    width: max-content;
    height: max-content;
    margin: 0px 5px;
    background-color: #d12031;
    color: white;
    border: none;
<<<<<<< HEAD
    padding: 10px 10px; /* Added padding for better button appearance */
    font-size: 14px;
=======
    padding: 10px 20px; /* Added padding for better button appearance */
    font-size: 16px;
>>>>>>> 252f0347993b1fc1d910ba144b6710f6a00e3211
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease; /* Added transition for smooth animation */
}

.payment-btn:hover {
    background-color: #66676b;
    color: white;
    transform: scale(1.05); /* Slightly enlarges the button on hover */
}

@media (max-width: 768px) {
    .btn-container{
        display: none;
    }
}